body{
    padding: 10px 20px;
    max-width: 65%;
    margin:auto 22% auto 20%;
    line-height: 1.5;
    font-size: large;
}
.sender-column{
    text-align:right;
}
.rec{
    text-align: left;
}
.dance-descript{
    margin: 0 0 0 4%;
    padding:0;
    
}